body{
	text-align: center;
}

.round-image{
	height:150px;
	width:150px;
	border-radius: 50%;
	margin: 0px auto;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.capital{
	text-transform: capitalize;
}